extends layout.pug
block content                
    div.container-xxl.container-main
        for post in postlist
            div.container-xl.post-window
                h1.board-title Post #[span=post.post_id]
                div.post-content
                    h2.title-s=post.title
                    p!=post.content
                div.post-actions
                    form(method="POST" action="/view_post")
                        input.hidden(name="post_id" value=post.post_id)
                        button View
                    p Reply's: #[span=post.replys_count]
                p.uploaded-date Uploaded #[span.uploaded-span= post.time_posted]
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")