/* PS I AM VERY VERY VERY BAD WITH ANYTHING THAT INCLUDES ART, AND ESPECIALLY CSS CANT SEEM TO GRASP IT.
   So erm maybe just maybe don't read anything in here please and thanks. :)
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;1,500;1,700&display=swap');
body, html {
    background: #f4a261 !important;
    font-family: 'Roboto Mono', monospace;
}

body img,
iframe {
    max-width: 100%;
}

.note-group-select-from-files {
    display: none;
}

.header {
    text-align: center;
}

.header nav {
    background: none !important;
}

.header nav ul li a {
    color: #e76f51 !important;
    font-weight: bold;
}

.header nav ul li a:hover {
    color: #2a9d8f !important;
    font-weight: bold;
}

.container-main {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-main form {
    text-align: left;
}

.container-main .form-text {
    text-align: left;
}

.container-main button {
    margin-top: 10px;
    float: left;
}

.container-main .checkbox {
    width: 5% !important;
}

.page-title {
    color: #2a9d8f;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    padding-right: 20px;
}

.page-title:hover {
    text-decoration: none;
    color: #e76f51;
}

.post-window {
    width: 80% !important;
    border-top: 25px solid #e76f51;
    border-bottom: 25px solid #e76f51;
    background: #fff;
    margin-top: 4%;
    text-align: left;
}

.board-title {
    font-size: 10px;
    color: #2a9d8f;
    word-wrap: break-word;
    text-align: left;
}

.col-title {
    color: #2a9d8f;
    text-decoration: underline;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.board-links ul {
    list-style-type: none;
}

.board-links ul li a {
    font-size: 15px;
    color: #2a9d8f;
    text-decoration: none;
}

.board-links ul li a:hover {
    text-decoration: underline;
}

.post-content .title-s {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e76f51;
}

.post-actions form {
    display: inline-block;
    padding: 10px;
}

.post-actions a {
    color: #2a9d8f;
    padding: 10px;
}

.post-actions a:hover {
    color: #e76f51;
}

.post-actions p {
    padding: 10px;
    color: #2a9d8f;
}

.post-actions span {
    color: #e76f51;
    padding: 10px;
}

.uploaded-date {
    float: right;
    color: #f4a261;
    font-weight: bold;
}

.uploaded-date span {
    color: #000;
}

.view-post {
    background: #e9c46a;
}

.reply-new textarea {
    width: 100%;
    height: 10rem;
    background: none;
    border: 2px solid #e76f51;
    border-radius: 4px;
    resize: none;
}

.reply-new textarea:focus {
    outline: none !important;
    border: 2px solid #2a9d8f !important;
    border-radius: 4px;
}

.reply-new button {
    margin: 10px;
    background: #e76f51;
    border: 1px solid #e76f51;
}

.reply-new button:hover {
    background: #2a9d8f;
    border: 1px solid #2a9d8f;
}

.replys {
    background: #fff;
    border-radius: 4px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.replys h3 {
    font-size: 15px;
    color: #2a9d8f;
}

.hidden {
    display: none;
}

.reply_back {
    border-top: 2px solid #e76f51;
}

.replys button {
    display: block;
    margin: 10px;
    background: #e76f51;
    border: 1px solid #e76f51;
}

.replys button:hover {
    background: #2a9d8f;
    border: 1px solid #2a9d8f;
}

.replys textarea {
    width: 70%;
    height: 5rem;
    background: none;
    border: 2px solid #e76f51;
    border-radius: 4px;
    resize: none;
}

.replys textarea:focus {
    outline: none !important;
    border: 2px solid #2a9d8f !important;
    border-radius: 4px;
}

.reply_back {
    width: 90% !important;
    margin-top: 2%; 
    margin-bottom: 2%;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.pagination {
    display: flex;
    justify-content: center;
    display: inline-block;
    margin: 50px;
}
  
  .pagination a {
    color: #e76f51;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: #e76f51;
    color: #2a9d8f;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd; color: #2a9d8f;}

  .container-login {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
  }

  .container-login input{
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      border: none;
      padding: 5px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}

  .container-login input:focus {
      border: 2px solid #e76f51;
      border-radius: 10px;
      outline: none;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}

input.login-input:-webkit-autofill,
input.login-input:-webkit-autofill:hover, 
input.login-input:-webkit-autofill:focus, 
input.login-input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #2a9d8f inset !important;
    -webkit-text-fill-color: #fff !important;
}

.container-login button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background: #e76f51;
    color: #fff;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container-login button:hover {
    background: #2a9d8f;
    color: #000;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.replys a {
    color: #2a9d8f;
    margin-left: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.replys a:hover {
    color: #e76f51;
}

.flash {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.warning {
    background: orange
}

.container-reply {
    margin-top: 20px;
}

.container-stats {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-around;
    max-width: 100%;
    background: #fff;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px;
    border: 1px solid #2a9d8f;
}

.stat-item {
    padding: 40px;
    text-align: center;
    flex: 2 1 auto;
    border: 2px solid #e76f51;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #f4a36170;
}

.stat-item h1 {
    color: #e76f51;
    font-size: 20px;
}

.stat-item p {
    font-size: 30px;
    font-weight: 500;
    color: #2a9d8f;
}

.container-reports {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    justify-content: flex-start;
    max-width: 100%;
    background: #fff;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px;
    border: 1px solid #2a9d8f;
}

.container-reports h1 {
    font-size: 25px;
}

.container-reports p {
    font-weight: 500;
    font-size: 30px;
}

.container-reports a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    margin-left: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
}

.danger {
    background: rgba(252, 0, 0, 0.981);
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.danger:hover {
    background: rgba(167, 24, 24, 0.981);
    color: #fff;
}

.success {
    background: rgb(8, 192, 8);
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.success:hover {
    background: rgb(41, 135, 41);
    color: #fff;
}

.warning {
    background: rgb(230, 154, 13);
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.warning:hover {
    background: rgb(165, 119, 32);
    color: #fff;
}

.container-reports details {
    margin-bottom: 30px;
}

.flag {
    font-size: 10px !important;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .container-reports a {
        display: block !important;
        text-align: center;
    }
}
